
<!DOCTYPE html>
<html>
<head>
  <title>Instagram - Login</title>
 {{-- <link rel="stylesheet" type="text/css" href="style.css">--}}
  <style>
    .container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #3897f0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #3897f0;
}

p {
  margin-top: 20px;
}
  </style>
</head>
<body>
  <div class="container">
    <h1>Instagram</h1>
    <form action="/login" method="POST">
      <div>
        <label for='email'></label>
        <input type="email" name="email" id="email" placeholder="Email: name@gmail.com"/>
        @if(flashMessages.has('errors.email'))
        <small>{{flashMessages.get('errors.email')}}</small>
        @endif
        </div>

        <div>
            <label for='password'></label>
            <input type="password" name="password" id="password" placeholder="Password"/>
            @if(flashMessages.has('errors.password'))
            <small>{{flashMessages.get('errors.password')}}</small>
            @endif
            </div>
      <button type="submit">Log In</button>
    </form>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
</div>
</body>
</html>




